$true_white: #ffffff;
$true_black: #333333;
$silver_gray: #999999;
$light_gray: #fafafa;
$light_blue: #38aef0;
$iron_blue: #434a54;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$alert_orange: #f35500;
