$true_white: #ffffff;
$true_black: #333333;
$gray: #999999;
$light_gray: #fafafa;
$light_blue: #38aef0;
$iron_blue: #434a54;
$main_header_back: $true_white;
$messages_back: $light_gray;
$text_color_01: $true_white;
$text_color_02: $true_black;
$text_color_03: $gray;
$text_color_04: $iron_blue;
$btn_box_color: $light_blue;

$header_height: 100px;
$side_width: 300px;
$form_height: 90px;
